<h2>Weather App</h2>
<p>This is data colected in <%=session[:forecast][0]%></p>
<p>Temperature: <%=session[:forecast][1]%> C</p>
<p>Description: <%=session[:forecast][2]%></p>
<p>Pressure: <%=session[:forecast][3]%></p>
<p>Humidity: <%=session[:forecast][4]%>%</p>
<p>Wind speed: <%=session[:forecast][5]%>m/s</p>
<p>Cloudiness: <%=session[:forecast][6]%>%</p>

