	<ul>
		<li>This is data colected in <%=session[:forecast][0]%>, coordinates: <%=session[:forecast][1]%>, <%= session[:forecast][2] %>.</li>
		<li>Temperature: <%=session[:forecast][3]%> C</li>
		<li>Description: <%=session[:forecast][4]%></li>
		<li>Pressure: <%=session[:forecast][5]%></li>
		<li>Humidity: <%=session[:forecast][6]%>%</li>
		<li>Wind speed: <%=session[:forecast][7]%>m/s</li>
		<li>Cloudiness: <%=session[:forecast][8]%>%</li>
	</ul>
	<p><a href="/new">New Forecast</a></p>
